RewriteEngine On
# Duong dan chinh cua thu muc lam viec
# Vi du: http://localhost/ => RewriteBase /
# Neu thu muc lam viec la http://localhost/zencms/ => RewriteBase /zencms/
RewriteBase /
RewriteRule ^files\/(.*)\.php$ download/get?_file_=$1.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/index.php$
RewriteRule ^(.*)$ index.php?_zen_router_=$1 [L,QSA]
# Ban ip
order allow,deny
allow from all