/**
 * Mod boostrap css
 */
.container {
    padding-left: 5px;
    padding-right: 5px;
}
div[class*='col-'] {
    padding: 5px;
}
.padded {
    padding: 5px;
}
.breadcrumb {
    border-radius: 0px;
}
.panel-heading.breadcrumb-heading {
    padding: 0px;
}
.panel-heading.breadcrumb-heading .breadcrumb {
    margin-bottom: 0px;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
}
.panel-body {
    padding: 0px;
}

.form-horizontal .form-group {
    margin-right: -5px;
    margin-left: -5px;
}
.panel {
    margin-bottom: 10px;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-footer {
    padding: 5px 10px;
    border-top: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.footer-action {
    margin: 5px 0px;
}
.sb_category > .list-group-item:first-child {
    border-top: 0px;
}
.sb_category > .list-group-item:last-child {
    border-bottom: 0px;
}
.sb_category > .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.sb_category > .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel-body > .list-group.sb_category {
    margin: 0px;
}
.pagination {
    margin: 5px 0;
}
.breadcrumb {
    margin-bottom: 5px;
}
hr {
    border-color:#191919;
}
/* theme */
.btn,.form-control,.alert,.progress,.panel,.list-group,.well,.list-group-item:first-child {
    border-radius:1px;
    box-shadow:0 0 0;
}
.list-group {
    margin-bottom: 10px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn {
    border-color:transparent;
}
.btn-default,.well {
    background-color:#cccccc;
    border-color:#c0c0c0;
}
.btn-primary,.label-primary,.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus,.btn.active,a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color:#0099CC;
    border-color:transparent;
}
.btn-info,.label-info,.progress-bar-info {
    background-color:#33b5e5;
}
.btn-success,.label-success,.progress-bar-success {
    background-color:#669900;
}
.btn-danger,.label-danger,.progress-bar-danger {
    background-color:#FF4444;
}
.btn-warning,.label-warning,.progress-bar-warning {
    background-color:#FFBB33;
    color:#444444;
}
.nav-tabs>li>a {
    border-radius:0;
}

h3,h4,h5,.panel {
    color:#555555;
}
.panel hr {
    border-color:#efefef;
}
.form-group {
    margin-bottom: 5px;
}
.alert {
    padding: 5px;
    margin-bottom: 5px;
}
.close {
    font-size: 18px;
}
.help-block {
    margin-top: 2px;
    margin-bottom: 0px;
}
.media, .media .media {
    margin-top: 5px;
}
/**
 * end mod
 */

.user_profile {
    background: #f1f1f1;
    border-bottom: 1px solid #eee;
    padding: 6px 0 0 6px;
}
.profile-post {
    margin-top: 5px;
}
.post-comment {
    margin-top: 5px;
}


/** message **/
.message {
    overflow: hidden;
    zoom: 1;
    padding: 0;
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #d7edfc;
}
.message p {
    padding-top: 5px;
}
.message a {
    color: #428bca;
}
.message .message-content {
    min-height: 30px;
}
.message .message-content article {
    display: inline;
}
.message .message-meta {
    overflow: hidden;
    zoom: 1;
    font-size: 11px;
    line-height: 14px;
    padding-top: 5px;
}
.message .private-controls {
    float: right;
}
.message .private-controls a {
    float: left;
    margin-left: 10px;
}
.message .private-controls span {
    float: left;
    margin-left: 10px;
    color: rgb(150,150,150);
}
.message .public-controls {
    float: left;
}
.message .public-controls a {
    float: left;
    margin-left: 10px;
}
.message .public-controls span {
    float: left;
}
.message .public-controls span {
    color: rgb(150,150,150);
}
.message .message-avatar {
    background-color: rgb(252, 252, 255);
    padding: 2px;
    border: 1px solid #a5cae4;
}


/** Comment **/
.post-comment {
    overflow: hidden;
    zoom: 1;
    padding: 0;
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #d7edfc;
}
.post-comment p {
    padding-top: 5px;
}
.post-comment a {
    color: #428bca;
}
.post-comment .post-comment-msg {
}
.post-comment .post-comment-msg article {
    display: inline;
}
.post-comment .post-comment-meta {
    overflow: hidden;
    zoom: 1;
    font-size: 11px;
    line-height: 14px;
    padding-top: 5px;
}
.post-comment .private-controls {
    float: right;
}
.post-comment .private-controls a {
    float: left;
    margin-left: 10px;
}
.post-comment .private-controls span {
    float: left;
    margin-left: 10px;
    color: rgb(150,150,150);
}
.post-comment .public-controls {
    float: left;
}
.post-comment .public-controls a {
    float: left;
    margin-left: 10px;
}
.post-comment .public-controls span {
    float: left;
}
.post-comment .public-controls span {
    color: rgb(150,150,150);
}
.post-comment .post-comment-avatar {
    background-color: rgb(252, 252, 255);
    padding: 2px;
    border: 1px solid #a5cae4;
}

/** conversations **/
.conversations {
    overflow: hidden;
    zoom: 1;
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #d7edfc;
}
.conversations:last-child {
    margin: 0px;
}
.conversations p {
    padding-top: 5px;
}
.conversations .conversations-msg article {
    display: inline;
}
.conversations-controls {
    padding: 5px 0;
    border-bottom: 1px solid #d7edfc;
}
.conversations-controls a {
    text-decoration: underline !important;
    color: #428bca;
}

.conversations .detail-controls a, .conversations .private-controls a {
    color: #428bca;
}
.conversations .conversations-from {
    font-weight: bold;
}
.conversations .conversations-msg {
    min-height: 30px;
}
.conversations .conversations-meta {
    zoom: 1;
    font-size: 11px;
    line-height: 14px;
}
.conversations .detail-controls {
    float: left;
}
.conversations .detail-controls a {
    float: left;
    margin-left: 10px;
}
.conversations .detail-controls span {
    float: left;
}
.conversations .detail-controls span {
    color: rgb(150,150,150);
}
.conversations .private-controls {
    float: right;
}
.conversations .private-controls a {
    float: left;
    margin-left: 10px;
}
.conversations .private-controls span {
    float: left;
    margin-left: 10px;
    color: rgb(150,150,150);
}

.zen-smile {
    vertical-align: text-top;
}

body {
    font: 13px Helvetica, arial, clean, sans-serif;
    padding: 0px;
    background: #D3D6DB;
    margin: 0 auto;
    position: relative;
}
a {
    color: #444;
    text-decoration: none !important;
}
a.downloadfree:hover {
    transition-property: background;
    background: url(../images/icons/download.jpg) top left no-repeat #2c96cf;
    text-decoration: none;
}
a.downloadfree {
    background: url(../images/icons/download.jpg) top left no-repeat #E75757;
    padding-left: 40px;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    font-weight: 700;
    padding-right: 6px;
    border: none;
    display: block;
    clear: both;
}
/* Logo */
.logo {
    height: 45px;
    margin-top: -10px;
    float: left;
}
.zen-logo {
    padding: 15px 0px;
    padding-left: 5px;
}
.logo_title {
    font-size: 20px;
    color: #ffffff;
    padding: 0 !important;
    margin-left: 5px;
}
li {
    list-style: none !important;
}
/* Navbar*/

.hd_guest {
    color: #FFFFFF;
    padding: 8px;
    background: #0E1317;
}
.hd_guest .avatar_img {
    width: 36px;
    height: 36px;
    margin-right: 6px;
    border-radius: 3px;
}
.hd_guest .uname {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}
.hd_guest .link {
    color: #999999;
}
.hd_guest .licon {
    width: 32px;
    height: 32px;
    margin-left: 6px;
    border-radius: 3px;
}

/* navbar 2*/
.u_table {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.u_table > li {
    vertical-align: middle;
    display: table-cell;
}
.navbar2 {
    background: #ffffff;
    margin-bottom: 0px;
    border-bottom: 2px solid #DF5554;
    width: 100% !important;
}
.navbar2 > ul {
    table-layout: fixed;
}
.navbar2 > ul > li {
    border-right: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#ccc, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(#ccc, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(#ccc, rgba(0, 0, 0, 0)) 1 100%;
    padding: 0;
}
.navbar2 > ul > li > a {
    display: block;
    padding: 10px 4px;
    text-align: center;
    color: #4B4B4B;
    font-size: 15px;
    white-space: nowrap;
}
.navbar2 > ul > li > a.selected {
    padding-bottom: 8px;
    border-bottom: 4px solid #E75757;
}
.navbar-header {
    padding: 5px 0px;
}
/* slider */
.zen-slides {
    margin-bottom: 10px;
}
.slider_title {
    display: none;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    padding: 8px 20px 15px;
    font-size: 20px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
}
.item img {
    width: 100%;
}
.carousel-indicators {
    bottom: 0 !important;
    margin-bottom: 0 !important;
}
.slider_title a{
    color: #FFFFFF;
}

/* Container */
.menu {
    overflow: hidden;
    background-color: #1D9AE3;
    margin: 0;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}
.review_text {
    line-height: 18px;
    color: #555;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
}
.review_wrp {
    padding: 16px 12px 12px 12px;
    cursor: pointer;
}
.review {
    max-height: 108px;
    overflow: hidden;
    position: relative;
}
.avatar_img {
    width: 36px;
    height: 36px;
    margin-right: 6px;
    border-radius: 3px;
}
.feed_app_review {
    background: #FFFFFF;
    margin: 10px 0px;
    padding-top: 10px;
}
.feed_app_review .screenshot {
    min-height: 180px;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center center;
    margin: 10px -5px 6px -5px;
    position: relative;
}
.feed_app_review .title {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feed_app_review .title_head {
    position: absolute;
    z-index: 9;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    display: block;
}
.feed_app_review .icon {
    display: inline-block;
    position: absolute;
    z-index: 10;
    bottom: 16px;
    left: 8px;
    background: #ffffff;
    padding: 3px;
}
.feed_app_review .icon_img {
    width: 86px;
    height: 86px;
    display: block;
}
.feed_app_review .ext_info {
    color: #aaaaaa;
    font-size: 14px;
    margin-top: 2px;
}
.ratingi12 {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 1px;
}
.txt_icon_12 {
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 12px 12px;
    padding: 2px;
    display: inline-block;
    min-height: 12px;
}
.share {
    background-image: url('../images/icons/share45.png');
    background-size: 24px 24px;
}
.acti24 {
    display: inline-block;
    margin: 0px 8px;
    min-width: 24px;
    height: 24px;
}
.like {
    background-image: url('../images/icons/like1_ia.png');
    background-size: 24px 24px;
}

.feed_app_review .username {
    color: #E75757;
    font-size: 16px;
    font-weight: bold;
}
.box2 {
    background: #FFFFFF;
    margin: 10px 0px;
}
.feed_rcc_block .head {
    margin: 5px 0px 3px 0px;
    font-size: 22px;
    color: #d71819;
}
.feed_rc_channel_item {
    padding: 10px 0px;
    border-bottom: 1px solid #EEEEEE;
}
.feed_rc_channel_item .subtitle {
    color: #919191;
}
.feed_rc_channel_item .icon_img {
    width: 52px;
    height: 52px;
    margin-right: 10px;
    display: block;
    background: #FFFFFF;
    padding: 1px;
    border: 1px solid #DDDDDD;
}
.feed_rc_channel_item .title {
    font-size: 16px;
    margin-bottom: 3px;
    color: #444;
}
.feed_rc_channel_item:last-child {
    border: none;
}
.feed_rcc_block .bottom .bt_txt {
    font-size: 18px;
    color: #666666;
    background: url('../images/icons/ic_morec.png') no-repeat center left;
    padding-left: 32px;
    line-height: 24px;
}

.title {
    font-size: 16px;
    margin-bottom: 3px;
    color: #444;
    font-weight: bold;
}

.channel_item {
    background: #FFFFFF;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    margin: 0px 5px 10px 5px;
}
.channel_item .thumb {
    overflow: hidden;
    height: auto;
    display: block;
    background-color: #FFFFFF;
    position: relative;
    border: 1px solid #ddd;
    padding: 1px;
}
.channel_item .overlay {
    background: url('/images/thumbtran.png') no-repeat center center;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.channel_item .thumb_img {
    width: 60px;
    height: 60px;
    display: block;
}
.channel_item .desc {
    margin: 0px 10px 10px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #686868;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    max-height: 54px;
    cursor: pointer;
    position: relative;
}
.channel_item_detail {
    position:relative;
    padding:10px 10px 10px 0px;
    width:100%;
    vertical-align: top !important;
}
.info14 {
    font-size: 14px;
    color: #aaaaaa;
}
.channel_item .bottom {
    padding: 6px 6px 6px 10px;
    border-top: 1px solid #eeeeee;
}
.channel_item .avatar {
    display: inline-block;
    padding: 1px;
    background: #FFF;
    margin-right: 6px;
    border-radius: 50%;
}
.channel_item .avatar_img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
}
.channel_item .guru_name {
    color: #F75D5B;
    font-size: 16px;
}

.txt_icon_16 {
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 16px 16px;
    padding: 2px;
    padding-left: 20px;
    display: inline-block;
    min-height: 16px;
}
.bxh {
    background: #FFFFFF;
    margin: 10px 0px;
}
.bxh_item {
    position: relative;
    margin: 0px 0px;
    border-bottom: 1px solid #dddddd;
}

.bxh_item:last-child {
    border-bottom: none;
}
.bxh_item .medal {
    position: absolute;
    top: -3px;
    left: 6px;
}
.bxh_item .medal img {
    height: 35px;
}
.bxh_item .icon {
    display: inline-block;
    margin: 6px 10px 6px 0px;
}
.bxh_item .icon_img {
    width: 64px;
    height: 64px;
    display: block;
    padding: 2px;
    background: #FFFFFF;
    border-radius: 50%;
}
.bxh_item .name {
    font-size: 16px;
    color: #444;
    font-weight: bold;
}
.bxh_item .ext_info {
    font-size: 15px;
    color: #868686;
}
.bxh_item .rank {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #EC6768;
    padding: 10px 10px;
}
.bxh .head {
    margin: 5px 0px 3px 0px;
    font-size: 22px;
    color: #d71819;
}

/* Bài Viết */
.baiviet {
    background: #FFFFFF;
    margin: 0px;
}
.app_screenshot {
    white-space: nowrap;
    overflow-x: auto;
    background: #333;
}
.app_screenshot img {
    width: 100%;
    height: 150px;
}
.title_head {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    padding: 6px 0px 6px 0px;
}
.title_head h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 0px 6px 0px 108px;
    color: #FFFFFF;
}
.app_info_wrapper {
    padding: 10px;
}
.content_block {
    position: relative;
    background: #fff;
}
.app_info_wrapper .icon {
    display: inline-block;
    background: #FFFFFF;
    padding: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.14);
}
.app_info_wrapper .icon_img {
    width: 86px;
    height: 86px;
    display: block;
    border-radius: 6px;
}
.download_btn {
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px;
    background: #8ABB21;
    display: inline-block;
}
.download_btn:hover {
    color: #fff;
}
.content_block_2 {
    position: relative;
    background: #FFFFFF;
    border-top: 1px solid #f1f1f1;
}
.app_detail_item {
    display: block;
    font-size: 14px;
    color: #686868;
}
.username {
    font-size: 18px;
    color: #e65757;
    margin-bottom: 2px;
}
.time {
    color: #868686;
}
.content_block_2 .message {
    line-height: 1.4em;
    margin-top: 4px;
    padding: 0px 4px;
    color: #555555;
}
.app_desc .exp_content {
    overflow: hidden;
    margin-top: 10px;
    line-height: 1.4em;
    position: relative;
    color: #555555;
}
.exp_content img {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 98%;
    max-height: 250px;
}
.app_item_2 {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.app_item_2 .icon {
    width: 100%;
    display: block;
}
.app_item_2 .icon_img {
    width: 100%;
    max-width: 128px;
}
.app_item_2 .title {
    display: block;
    font-size: 13px;
    color: #2F3740;
    padding: 4px 0px 2px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    max-width: 100%;
}

.download-item {
    padding: 6px 0px 6px 5px;
    border-top: 1px solid #eee;
    line-height: 20px;
}
.download-item.title {
    display: table-cell;
}
.download-item:first-child {
    border: hidden;
}
/* Footer */
#footer {
    _border-top: 1px solid #d5d5d5;
    color: #999;
    padding: 10px;
    background: #333333;
}
#footer a {
    color: #AAAAAA;
}

