@import url("../../../../files/systems/fonts/icons/font-awesome/css/font-awesome.min.css");
/**
đa
*/
body {
	font-family: Tahoma;
	font-size: 13px;
	padding: 0px;
	background: #D3D6DB;
	margin: 0 auto;
	position: relative;
}
/**
 * Mod boostrap css
 */
.container {
    padding-left: 5px;
    padding-right: 5px;
}
div[class*='col-'] {
    padding: 5px;
}
.padded {
    padding: 5px;
}
.breadcrumb {
    border-radius: 0px;
}
.panel-heading.breadcrumb-heading {
    padding: 0px;
}
.panel-heading.breadcrumb-heading .breadcrumb {
    margin-bottom: 0px;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
}
.panel-body {
    padding: 0px;
}

.form-horizontal .form-group {
    margin-right: -5px;
    margin-left: -5px;
}
.panel {
    margin-bottom: 10px;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-footer {
    padding: 5px 10px;
    border-top: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.footer-action {
    margin: 5px 0px;
}
.sb_category > .list-group-item:first-child {
    border-top: 0px;
}
.sb_category > .list-group-item:last-child {
    border-bottom: 0px;
}
.sb_category > .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.sb_category > .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel-body > .list-group.sb_category {
     margin: 0px;
}
.pagination {
    margin: 5px 0;
}
.breadcrumb {
    margin-bottom: 5px;
}
hr {
    border-color:#191919;
}
/* theme */
.btn,.form-control,.alert,.progress,.panel,.list-group,.well,.list-group-item:first-child {
    border-radius:1px;
    box-shadow:0 0 0;
}
.list-group {
    margin-bottom: 10px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn {
    border-color:transparent;
}
.btn-default,.well {
    background-color:#cccccc;
    border-color:#c0c0c0;
}
.btn-primary,.label-primary,.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus,.btn.active,a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color:#0099CC;
    border-color:transparent;
}
.btn-info,.label-info,.progress-bar-info {
    background-color:#33b5e5;
}
.btn-success,.label-success,.progress-bar-success {
    background-color:#669900;
}
.btn-danger,.label-danger,.progress-bar-danger {
    background-color:#FF4444;
}
.btn-warning,.label-warning,.progress-bar-warning {
    background-color:#FFBB33;
    color:#444444;
}
.nav-tabs>li>a {
    border-radius:0;
}

h3,h4,h5,.panel {
    color:#555555;
}
.panel hr {
    border-color:#efefef;
}
.form-group {
    margin-bottom: 5px;
}
.alert {
    padding: 5px;
    margin-bottom: 5px;
}
.close {
    font-size: 18px;
}
.help-block {
    margin-top: 2px;
    margin-bottom: 0px;
}
.media, .media .media {
    margin-top: 5px;
}
/**
 * end mod
 */

.row-header {
    font-weight: bold;
    padding-bottom: 2px;
    margin: 10px auto 5px;
    border-bottom: 1px solid #d7edfc;
    color: #a5cae4;
    font-size: 11pt;
    margin-bottom: 6px;
}

a {
	color: #444;
	text-decoration: none !important;
}
a:hover,
a:focus {
  color: #EC534D !important;
  text-decoration: underline;
}
a.downloadfree:hover {
	transition-property: background;
	background: url(../images/icons/download.jpg) top left no-repeat #2c96cf;
	text-decoration: none;
    color: #fff !important;
}
a.downloadfree {
	background: url(../images/icons/download.jpg) top left no-repeat #E75757;
	padding-left: 40px;
	height: 32px;
	line-height: 32px;
	color: #FFF;
	font-weight: 700;
	padding-right: 6px;
	border: none;
	display: block;
	clear: both;
}
a.view-more {
	padding-right: 20px!important;
	float: right;
	color: #fff!important;
	padding-top: 9px;
	font-weight: bold;
}
/* Navbar */
.timkiem {
	width: 440px !important;
}
.logo {
	margin-top: -17px;
}
.logo-box {
	margin-bottom: 0px;
    padding: 5px;
    border-radius: 0px;
}
.top-bar {
	background: #F2F2F3;
	box-shadow: 0 2px 2px rgba(0,0,0,0.03);
	position: relative;
	z-index: 99;
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 10px;
}
.top-menu {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.top-menu > li {
    vertical-align: middle;
    display: table-cell;
}
.top-bar .link {
	white-space: nowrap;
	border-left: 1px solid #DDD;
}
.list-grid {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.list-grid li {

}
.list-grid .icon img.img-responsive {
    display: inline;
}

.list-grid_top li {
    vertical-align: middle !important;
    display: table-cell;
}
.list-grid > li {
    vertical-align: top;
    display: table-cell;
}

.zen-table {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.zen-table li {

}
.zen-table .icon img.img-responsive {
    display: inline;
}

.zen-table > li {
    vertical-align: middle;
    display: table-cell;
}
.top-bar .link_title {
	display: inline-block;
	padding: 11px 20px;
	color: #565759;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	margin: 0;
	text-shadow: -1px 1px 0 #fff;
	font-weight: bold;
}
.top-bar a:hover {
	background: #FFFFFF;
}
/* slider */
.slider_title {
	display: none;
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
	padding: 8px 20px;
	padding-bottom: 28px;
	font-size: 20px;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
}
.item img {
	width: 100%;
}
.carousel-indicators {
	bottom: 0 !important;
	margin-bottom: 0 !important;
}
.slider_title a{
	color: #FFFFFF;
}
.carousel-inner {
	height: 222px !important;
}

/* Content */

/* .content-left {
	max-width: 222px;
}
.content-center {
	min-width: 650px;
} */

.profile-post {
    margin-top: 5px;
}
.post-comment {
    margin-top: 5px;
}


/** message **/
.message {
    overflow: hidden;
    zoom: 1;
    padding: 0;
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #d7edfc;
}
.message p {
    padding-top: 5px;
}
.message a {
    color: #428bca;
}
.message .message-content {
    min-height: 30px;
}
.message .message-content article {
    display: inline;
}
.message .message-meta {
    overflow: hidden;
    zoom: 1;
    font-size: 11px;
    line-height: 14px;
    padding-top: 5px;
}
.message .private-controls {
    float: right;
}
.message .private-controls a {
    float: left;
    margin-left: 10px;
}
.message .private-controls span {
    float: left;
    margin-left: 10px;
    color: rgb(150,150,150);
}
.message .public-controls {
    float: left;
}
.message .public-controls a {
    float: left;
    margin-left: 10px;
}
.message .public-controls span {
    float: left;
}
.message .public-controls span {
    color: rgb(150,150,150);
}
.message .message-avatar {
    background-color: rgb(252, 252, 255);
    padding: 2px;
    border: 1px solid #a5cae4;
}


/** Comment **/
.post-comment {
    overflow: hidden;
    zoom: 1;
    padding: 0;
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #d7edfc;
}
.post-comment p {
    padding-top: 5px;
}
.post-comment a {
    color: #428bca;
}
.post-comment .post-comment-msg {
}
.post-comment .post-comment-msg article {
    display: inline;
}
.post-comment .post-comment-meta {
    overflow: hidden;
    zoom: 1;
    font-size: 11px;
    line-height: 14px;
    padding-top: 5px;
}
.post-comment .private-controls {
    float: right;
}
.post-comment .private-controls a {
    float: left;
    margin-left: 10px;
}
.post-comment .private-controls span {
    float: left;
    margin-left: 10px;
    color: rgb(150,150,150);
}
.post-comment .public-controls {
    float: left;
}
.post-comment .public-controls a {
    float: left;
    margin-left: 10px;
}
.post-comment .public-controls span {
    float: left;
}
.post-comment .public-controls span {
    color: rgb(150,150,150);
}
.post-comment .post-comment-avatar {
    background-color: rgb(252, 252, 255);
    padding: 2px;
    border: 1px solid #a5cae4;
}

/** conversations **/
.conversations {
    overflow: hidden;
    zoom: 1;
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #d7edfc;
}
.conversations:last-child {
    margin: 0px;
}
.conversations p {
    padding-top: 5px;
}
.conversations .conversations-msg article {
    display: inline;
}
.conversations-controls {
    padding: 5px 0;
    border-bottom: 1px solid #d7edfc;
}
.conversations-controls a {
    text-decoration: underline !important;
    color: #428bca;
}

.conversations .detail-controls a, .conversations .private-controls a {
    color: #428bca;
}
.conversations .conversations-from {
    font-weight: bold;
}
.conversations .conversations-msg {
    min-height: 30px;
}
.conversations .conversations-meta {
    zoom: 1;
    font-size: 11px;
    line-height: 14px;
}
.conversations .detail-controls {
    float: left;
}
.conversations .detail-controls a {
    float: left;
    margin-left: 10px;
}
.conversations .detail-controls span {
    float: left;
}
.conversations .detail-controls span {
    color: rgb(150,150,150);
}
.conversations .private-controls {
    float: right;
}
.conversations .private-controls a {
    float: left;
    margin-left: 10px;
}
.conversations .private-controls span {
    float: left;
    margin-left: 10px;
    color: rgb(150,150,150);
}

.zen-smile {
    vertical-align: text-top;
}

.event-note {
	width: 100%;
	margin-bottom: 10px !important;
	background: #fff;
	border: 1px solid #e5e4e4;
	margin: 0;
}
.event-note .left {
	background: url('../images/icons/sukienhot.png') no-repeat;
	height: 50px;
	float: left;
}
.event-note .left h2 {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.event-note .left span {
	color: #ff8301;
	margin-left: 5px;
}
.event-note .text {
	font-size: 14px;
	font-weight: bold;
	color: #363636;
	margin-top: 10px;
}
.event-note .viewall {
	background: #d21a32;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	float: right;
	margin: 15px 15px 0;
}
.events {
	margin: 0;
	margin-bottom: 10px !important;
	background: #fff;
	border: 1px solid #e5e4e4;
}
.events-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.events .left {
	padding: 0;
	margin-top: -10px;
}
.events .event-title {
	background-color: #c71b28;
	position: relative;
	height: 29px;
	line-height: 29px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding-left: 5px;
	float: left;
    display: block;
}
.events .event-title a {
    color: #fff;
}
.events h4{
    width: 100%;
    float: left;
}
.events .event-title:after {
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	border-width: 15px 0 14px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #c71b28;
	z-index: 50;
}
.events .left ul.hover {
	list-style: none;
}
.events .left ul.hover {
	float: left;
	margin: 0px 0 10px -20px;
}

.hover li {
	margin: 10px 0;
}
.hover a {
	font-size: 13px;
	font-weight: 700;
}
.events .right ul.show_right {
	margin-left: -30px;
	float: left;
}
.events .right {
	padding-top: 10px;
}
.events .right ul {
	list-style: none;
}
.events .right ul.show_right li.first {
	border-bottom: 1px dotted #656464;
	float: left;
	width: 100%;
	padding: 0 0 10px 0;
}
.events .right ul.show_right li a.threadDetailFirstImg {
	padding: 15px 0 0 0;
	width: 120px;
}
.events .right ul.show_right li img {
	float: left;
	margin-bottom: 4px;
}
.events .right ul.show_right li a.threadDetailFirstTitle {
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	display: table-cell;
}
.events .right ul.show_right li.normal {
	border-bottom: 1px dotted #656464;
	padding: 12px 0;
	width: 100%;
	float: left;
}
.events .right ul.show_right li.normal:last-child {
	border: 0;
}

.carousel {
    position: relative;
    margin-bottom: 10px;
}

/* .content-right {
	min-width:300px;
} */
.sb_category .title {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.sb_category li:hover {
}
.sb_category {
	margin-bottom: 10px;
}
.list-group-item {
    border-left: 0px;
    border-right: 0px;
}
.box-tow {
	background-color: #c00000;
	float: left;
	height: 37px;
	vertical-align: middle;
}
.box {
	border-style: solid;
	border-width: 17px 0 20px 20px;
	border-color: transparent transparent transparent #c00000;
	float: left;
}
.box-tow1 {
	background-color: #363636;
	float: left;
	height: 35px;
	vertical-align: middle;
}
.box1 {
	border-style: solid;
	border-width: 17px 0 20px 20px;
	border-color: transparent transparent transparent #363636;
	float: left;
}
.panel-heading.block-heading {
	overflow: hidden;
	padding: 0;
	height: 35px;
	background-color: #222;
	color: #FFFFFF;
}
h1.panel-title.block-title, h2.panel-title.block-title, h3.panel-title.block-title, h4.panel-title.block-title {
	line-height: 35px;
	padding-left: 5px;
	color: #FFFFFF;
}
/*
.form-horizontal {
    margin: 15px;
}
*/
.feed_rc_channel_item {
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.feed_rc_channel_item .subtitle {
	color: #919191;
}
.feed_rc_channel_item .icon_img {
	width: 49px;
	height: 49px;
	margin-right: 10px;
	display: block;
	padding: 0px;
	border-radius: 10px;
}
.feed_rc_channel_item .title {
	font-size: 14px;
	margin-bottom: 3px;
}
.feed_rc_channel_item:last-child {
	border: none;
}
.feed_rcc_block .bottom .bt_txt {
	font-size: 18px;
	color: #666666;
	background: url('../images/icons/ic_morec.png') no-repeat center left;
	padding-left: 32px;
	line-height: 24px;
}
.list-grid li .RankingTop {
	width: 20px;
	height: 35px;
	margin-right: 5px;
}
.RankingTopNum {
	background: url(../images/icons/icons-stt.png) no-repeat;
	color: #004f79!important;
	width: 20px!important;
	height: 20px!important;
	padding: 1px 6px;
	margin-right: 5px;
}
.icon_qua {
	width: 22px;
	height: 22px;
	margin-right: 5px;
}
.grid-item .icon img {
	width: 72px;
	height: 72px;
	border-radius: 10px;
}
.grid-item {
	background: #FFFFFF;
	display: block;
	text-align: center;
	position: relative;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
    margin-left: -15px;
    margin-right: -15px;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    _border-top: 1px solid #fff;
    _border-left: 1px solid #fff;
    max-width: 200px;
}
.grid-item:hover {
    background: #fff;
    border-color: transparent;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}
.grid-item .icon {
	display: block;
	border-radius: 3px;
	text-align: center;
	padding: 10px 0px 6px 0px;
	position: relative;
}
.grid-item .title {
	display: block;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	position: relative;
    max-width: 72px;
    margin: 0 auto;
    color: #2F3740;
    padding: 4px 0px 10px 0px;
}
.grid-item .bottom {
    display: block;
    background: #F9F9F9;
    padding: 6px 2px;
    color: #BBBBBB;
    font-size: 12px;
    margin-top: 10px;
}
.grid-item .bottom_float .down_btn {
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    padding: 8px 6px;
    color: #fff;
    background: #EC534D;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.grid-item:hover .down_btn {
    background: #E74946;
}
.review_text {
	line-height: 18px;
	color: #555;
	word-wrap: break-word;
	font-size: 14px;
}
.review_wrp {
	padding: 16px 12px 12px 12px;
	cursor: pointer;
}
.review {
	max-height: 108px;
	overflow: hidden;
	position: relative;
}
.avatar_img {
	width: 36px;
	height: 36px;
	margin-right: 6px;
	border-radius: 3px;
}
.feed_app_review {
	background: #FFFFFF;
	border-radius: 2px;
	margin: 10px 0px;
	border: 1px solid #D3D6DB;
}
.feed_app_review .screenshot {
	min-height: 120px;
	background-color: #FFFFFF;
	background-size: cover;
	background-position: center center;
	margin: 10px -5px 6px -5px;
	position: relative;
}
.feed_app_review .title {
	display: block;
	margin-bottom: 4px;
	font-size: 16px;
	color: #FFFFFF;
	overflow: hidden;
	text-overflow: ellipsis;
}
.feed_app_review .title_head {
	position: absolute;
	z-index: 9;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	color: #fff;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
	vertical-align: middle;
	display: block;
	border-radius: 1px;
}
.feed_app_review .icon {
	display: inline-block;
	position: absolute;
	z-index: 10;
	bottom: 0px;
	left: 8px;
	background: #ffffff;
	padding: 3px;
}
.feed_app_review .icon_img {
	width: 76px;
	height: 76px;
	display: block;
}
.feed_app_review .ext_info {
	color: #aaaaaa;
	font-size: 14px;
	margin-top: 2px;
}
.ratingi12 {
	height: 12px;
	width: 12px;
	display: inline-block;
	margin-right: 1px;
}
.txt_icon_12 {
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 12px 12px;
	padding: 2px;
	display: inline-block;
	min-height: 12px;
	padding-left: 16px;
}
.share {
	background-image: url('../images/icons/share45.png');
	background-size: 24px 24px;
}
.acti24 {
	display: inline-block;
	margin: 0px 8px;
	min-width: 24px;
	height: 24px;
}
.like {
	background-image: url('../images/icons/like1_ia.png');
	background-size: 24px 24px;
}

.feed_app_review .username {
	color: #E75757;
	font-size: 16px;
	font-weight: bold;
}
.story_item {
	padding: 6px 0px 6px 0px;
	border-top: 1px solid #eee;
	line-height: 20px;
}
.story_item.title {
	display: table-cell;
}
.story_item:first-child {
	border: hidden;
}

.download-item {
    padding: 6px 0px 6px 5px;
    border-top: 1px solid #eee;
    line-height: 20px;
}
.download-item.title {
    display: table-cell;
}
.download-item:first-child {
    border: hidden;
}

.news_item {
	padding: 6px 0px 6px 0px;
	border-top: 1px solid #eee;
	line-height: 20px;
}
.news_item:first-child {
	border: hidden;
}
.badge_top {
	position: absolute;
	top: -4px;
	right: 55px;
}
.news_item span.title {
	display: table-cell;
}
.news_item .dot {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
}
.video_right_item {
	padding: 10px 0px;
	border-bottom: 1px solid #EEEEEE;
}
.video_right_item .icon_img {
	width: 127px;
	height: 79px;
	margin-right: 10px;
	display: block;
	padding: 0px;
}
.video_right_item .title {
	font-size: 14px;
	margin-bottom: 6px;
	vertical-align: top;
}
.video_right_item:last-child {
	border: none;
}
.video_right_item .ionplay {
	background: url(../images/icons/video-sprite.png) no-repeat;
	height: 35px;
	width: 35px;
	position: absolute;
	left: 15px;
	margin-top: 38px;
	display: block;
}
.feed_right_item {
	padding: 10px 0px;
	border-bottom: 1px solid #EEEEEE;
}
.feed_right_item .subtitle {
	color: #919191;
}
.feed_right_item .icon_img {
	width: 65px;
	height: 65px;
	margin-right: 10px;
	display: block;
	padding: 0px;
	border-radius: 10px;
}
.feed_right_item .title {
	font-size: 14px;
	margin-bottom: 6px;
}
.feed_right_item:last-child {
	border: none;
}

.user_profile {
    background: #f1f1f1;
    border-bottom: 1px solid #eee;
    padding: 6px 0 0 6px;
}
.user_profile2 {
    margin-top: 10px;
}
.profile-list {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px dashed #DDD;
}

/* footer copyright */
.copyright {
	margin-top: 30px;
	background: #3B3B3B;
	color: #ddd;
	padding: 10px 0;
}
.copyright ul, .contact ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.contact ul li {
	display: inline-block;
	padding-right: 20px;
}
.contact ul li a {
	color: #999;
}
.copyright ul li {
}
.copyright a {
    color: #fff;
}
.contact {
	clear: both;
	overflow: hidden;
	background: #222;
	color: #818181;
	padding: 10px;
	font-size: 12px;
}
/* Bài Viết */
.title-info {
	font-size: 20px;
	font-weight: bold;
}
.app_info {
	padding: 15px 10px;
}
.app_info .icon {
	background: #fff;
	height: 68px;
	width: 68px;
	border-radius: 6px;
}
.app_info h1.title {
	font-size: 25px;
	color: #555;
	font-weight: normal;
	margin-bottom: 6px !important;
	margin: 0;
}
.app_info .info_items {
	border: 1px solid #EEE;
	border-radius: 3px;
	margin-top: 20px;
	table-layout: fixed;
}
.info_items > li {
	padding: 10px 0 10px 10px;
}
.info_items_icon {
	float: left;
	margin-right: 6px;
	margin-top: 2px;
    font-size: 30px;
    color: #A1A1A1;
}
.info_items_title {
	display: block;
	color: #A1A1A1;
	margin-bottom: 2px;
}
.info_items_val {
	color: #48494C;
}
.baoloi {
	color: #ff0000;
}
.mota {
	min-height: 20px;
	padding: 14px 14px;
	margin-bottom: 20px;
	background-color: #FAFAFA;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.mota strong {
	font-size: 14px;
	text-transform: uppercase;
	text-shadow: -1px 1px 0 #FFF;
}
.app_desc {
	padding: 14px;
	display: block;
	line-height: 1.5;
}
.exp_content img {
	display: block;
	margin: auto;
	box-shadow: 0 0 7px #222;
	text-align: center;
	max-width: 98%;
	max-height: 550px;
}
.fb_comments {
    padding: 14px;
    background: #ffffff;
    margin: 10px 0;
}

.blog_tags {
    padding: 14px;
    background: #ffffff;
    margin: 10px 0;
}

.like_box {
	text-align: center;
}
.app_right_item {
	display: block;
	color: #676F72;
	padding: 6px 10px;
	border-bottom: 1px dashed #f4f4f4;
	vertical-align: top;
}
.app_right_item .icon_img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	border-radius: 3px;
}
.app_right_item .title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 230px;
}
.app_right_item:last-child {
	border: none;
}

/* Thư mục */
.category_apps {
	padding: 0;
}
.btn-thumuc {
	float: right;
	margin-right: 10px;
	margin-top: -28px;
}
.index_alist {
	table-layout: fixed;
}
.cat_app_item {
	background: #FFFFFF;
	display: block;
	text-align: center;
	position: relative;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	_border-top: 1px solid #fff;
	_border-left: 1px solid #fff;
}
.cat_app_item .icon {
	display: block;
	border-radius: 3px;
	text-align: center;
	padding: 20px 0px 6px 0px;
	position: relative;
}
.cat_app_item .icon img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}
.cat_app_item .info {
	display: block;
	padding: 0px 10px;
	border-bottom: 1px solid #FFF;
}
.cat_app_item .title {
	display: block;
	font-size: 16px;
	color: #2F3740;
	padding: 4px 0px 2px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	max-width: 100%;
}
.cat_app_item .vendor {
	display: inline-block;
	font-size: 12px;
	color: #9e9e9e;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}
.cat_app_item .bottom {
	display: block;
	background: #F9F9F9;
	padding: 6px 2px;
	color: #BBBBBB;
	font-size: 12px;
	margin-top: 10px;
}
.cat_app_item:hover {
	background: #fff;
	border-color: transparent;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1000;
}

.zen-smile {
    display: inline !important;
    margin: 0px;
    border: 0px;
    box-shadow: 0 0 0 !important;
}