.ZenCMS-ADMIN-CP-NAV {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 30px;
    z-index: 99999;
    background: #313030;
    opacity: 0.9;
}
.ZenCMS-ADMIN-CP-NAV a {
    color: #D5D2D2 !important;
    cursor: pointer;
    text-decoration: none;
}
.ZenCMS-ADMIN-CP-NAV >ul > li.ZenCMS-ADMIN-CP-LOGO img {
    max-height: 15px;
}
.ZenCMS-ADMIN-CP-NAV > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.ZenCMS-ADMIN-CP-NAV > ul > li {
    float: left;
    height: 100%;
    border-left: 1px solid #494949;
}
.ZenCMS-ADMIN-CP-NAV > ul > li:first-child {
    border-left: 0;
}
.ZenCMS-ADMIN-CP-NAV > ul > li > a {
    text-decoration: none;
    height: 100%;
    display: block;
    padding: 5px;
}
.ZenCMS-ADMIN-CP-NAV > ul > li > a:hover {
    background: #494949;
}

.ZenCMS-ADMIN-CP-NAV >ul > li.ZenCMS-ADMIN-CP-BTN-CLOSE {
    float: right;
}
.ZenCMS-ADMIN-CP-NAV >ul > li.ZenCMS-ADMIN-CP-BTN-CLOSE a {
    cursor: pointer;
}

span.ZenCMS-ADMIN-CP-BTN-OPEN {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 30px;
    z-index: 99999;
    background: #313030;
    opacity: 0.9;
}

span.ZenCMS-ADMIN-CP-BTN-OPEN a {
    text-decoration: none;
    cursor: pointer;
    float: right;
    height: 100%;
    padding: 5px;
    color: #D5D2D2 !important;
}