table.reference, table.tecspec {
    border-collapse: collapse;
    width: 100%;
}
table, th, td, input, textarea {
    font-size: 100%;
}
table.reference tr:nth-child(odd) {
    background-color: #F6F4F0;
}
table.reference th {
    color: #FFF;
    background-color: #555;
    border: 1px solid #555;
    font-size: 11px;
    padding: 3px;
    vertical-align: top;
    text-align: left;
    border-right: 1px #B9B5B5 solid;
}

table.reference td {
    border: 1px solid #D4D4D4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}
td {
    line-height: 140%;
}

.info {
    border: 1px #DDD dashed;
    padding: 10px;
    font-family: monospace;
}

.path {
    background-color: #BFC9CE;
    border-color: #BCE8F1;
    border-radius: 3px;
    margin: 4px;
    font-size: 11px;
    color: #222;
    padding: 4px;
    font-family: monospace;
}

.ad_list {
    border: 1px #DDD dashed;
    display: block;
    padding: 5px;
}
.mini_notice {

    font-style: italic;
    font-size: 10px;
    color: #F00;
    padding-left: 5px;
}

.font-small {
    font-size: 8px;
}