body {
    margin: 0;
    font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #F4F4F4 url('images/bg.png');
    font-size: 13px;
    line-height: 20px;
    color: #220f03;
    font-family: monospace;
}

#body {
    display: block;
    max-width: 650px;
    min-width: 240px !important;
    margin: auto;
    position: relative;
}

a:link, a:active, a:visited {
    color: #220f03;
    text-decoration: none;
}

a:hover {
    color: #81557E;
}

img {
    max-width: 100%;
}

p {
    margin: 1px;
}

.header {
    color: #222;
}

.header a {
    font-size: 13px;
}

.footer {
    background: #1A1A1A url('images/footer-bg.png');
    min-height: 30px;
    border: #1b1b1b solid 1px;
    color: #CACACA;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.footer a {
    color: #fff !important;
    font-weight: bold;
}

#logo {
    background: #1A1A1A url('images/header_bg.png');
    color: #FFF;
    padding: 4px;
}

/** menu bar css **/
#menu {
    background: #E4E4E4;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
}

#menu ul {
    padding-left: 10px;
}

#menu li {
    display: inline-block;
    padding: 0px;
}

#menu li a {
    display: block;
    padding: 8px 10px 4px 0px;
    text-transform: uppercase;
    font-size: 13px;
}

#menu .separator {
    background: url('images/navbar_sp.png') no-repeat right;
    margin: 0px 2px;
}

/** end menu bar css **/

/** title and sub_title bar css **/
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title, .title {
    background: #2F2F2F url('images/tcat.png') repeat-x top;
    color: #FFF;
    padding: 6px;
    border-radius: 4px;
    box-shadow: -1px 1px 10px #AAA;
    font-size: 13px;
    margin: 0px;
}

.title a {
    color: #fff !important;
    font-weight: bold;
}

h1.title a, h2.title a, h3.title a, h4.title a, h5.title a, h6.title a {
    color: #fff !important;
    font-weight: bold;
}

h1.sub_title, h2.sub_title, h3.sub_title, h4.sub_title, h5.sub_title, h6.sub_title, .sub_title {
    background: #2F2F2F url('images/tcat.png') repeat-x top;
    color: #FFF;
    padding: 6px;
    border-radius: 4px;
    box-shadow: -1px 1px 10px #AAA;
    font-size: 13px;
    margin: 0px;
}

.sub_title a {
    color: #fff !important;
    font-weight: bold;
}

h1.sub_title a, h2.sub_title a, h3.sub_title a, h4.sub_title a, h4.sub_title a, h6.sub_title a {
    color: #fff !important;
}

/** end title and sub_title bar css **/

.list {
    border-bottom: 1px #DDD dashed;
    padding: 10px;
}

.download {
    text-align: center;
}
.download .btn_download {
    background: #FF7020 url('images/btn_orange.png') repeat-x top;
    color: #FFF;
    display: inline-block;
    padding: 8px 25px;
    margin: 6px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 3px solid #CC5918;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}
.download .btn_download a {
    color: #fff;
}
.download .list {
    border-bottom: 1px #DDD dashed;
    padding: 10px;
}

.item {
    background: #FFF url('images/rowbg.png') repeat-x bottom;
    border-bottom: 1px solid #E2E2E2;
    padding: 5px 5px 5px 10px;
}

h3.item {
    font-size: 13px;
}

.item:hover, h3.item:hover {
    background: #fff;
}

.item_manager {
    background: #fff;
    border-bottom: 1px solid #E2E2E2;
    padding: 5px 5px 5px 10px;
}

h3.item_manager {
    font-size: 13px;
}

.item_non_border {
    padding: 4px;
    margin: 0px;
}

/*******/
.link_items span {
    display: block;
}
.link_items span.info {
    padding-bottom: 0;
    padding-right: 20px;
}
.link_items span.info img.item_thumb_icon {
    float: left;
    margin: 0px 6px 3px 0px;
}
/********/

.info {

    padding: 5px;
    border: 1px dashed #DDD;
    line-height: 30px;
}


.chat_item {

    padding: 6px 4px;
    border-bottom: 1px dashed #DDD;
    overflow: hidden;
}

.chat_item img {
    vertical-align: text-top;
    margin-right: 2px;
}

.chat_avatar {
    border-radius: 50%;
}

.chat_avatar {
    padding: 1px;
    border: 1px solid #D1D1D1;
    vertical-align: text-top;
    margin-right: 0px;
    display: table-cell;
    float: left;
    width: 20px;
}

.chat_avatar_online:hover {
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes rotateThis
{
    0% { -webkit-transform:scale(1) rotate(0deg); }
    10% { -webkit-transform:scale(1.1) rotate(0deg); }
    100% {-webkit-transform:scale(1.1) rotate(360deg); }
}
.chat_avatar_online {
    border: 1px solid #FFD9BB;
}

.chat_message {
    word-wrap: break-word;
    word-break: break-word;
}
.chat_message {
    display: table-cell;
}

.time_chat {
    font-size: 10px;
    color: #888;
}

.chat_tag_button {
    cursor: pointer;
}

.chat_edit_info {

    font-size: 10px;
    color: #888;
}
.chat_manager_bar, .chat_manager_bar a {

    font-size: 10px;
    color: #888;

}
/**********************/

.detail_content {
    background: #FAFAFA;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: -2px 2px 1px #E4E4E4;
}

.padding6 {
    padding: 6px;
}

.icon {
    margin-right: 2px;
}

.quote {
    background: #FFFAEC;
    border: 1px solid #FFE9C0;
    border-left: 3px solid #FFE9C0;
    padding: 6px;
    display: block;
    margin: 4px 0px;
    overflow: auto;
    width: 90%;
    max-width: 600px;
}

.quoteStyle {

    background: #FFFAEC;
    border: 1px solid #FFE9C0;
    border-left: 3px solid #FFE9C0;
    padding: 6px;
    display: block;
    margin: 4px 0px;
    overflow: auto;
    width: 90%;
    max-width: 600px;

}

.codeStyle {

    display: block;
    background: #E0E6E9;
    border: 1px dotted #9FAEBB;
    margin: 4px 0px;
    padding: 4px;
    width: 90%;
    max-width: 600px;

}

.textarea_box {

    display: inline;
    wwidth: auto;
}

.fail_menu {
    background-color: #F5F5F5;
    border: 1px solid #FFF;
    margin: 0px;
    padding: 2px 0px 3px 4px;
}


.member_info {
    overflow: hidden;
    zoom: 1;
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px 0;
}
.member_info .detail_account .info_name span,
.member_info .detail_account .info_permission span,
.member_info .detail_account .info_like span{
    margin-left: 3px;
}

.s_avatar {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.b_avatar img {
    background-color: #FCFCFF;
    padding: 2px;
    border: 1px solid #A5CAE4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.detail_account {
    padding-left:10px;
}

.conversations_item {
    clear: both;
    overflow: hidden;
    border-top: 1px solid #E6E6E6;
    padding: 5px;
}
.conversations_item:hover {
    background: #F4F6F9;
}
.conversations_msg {
    color: #5E5B5B;
    font-size: 11px;
}
.conversations_author {
    color: #3B5998;
    font-weight: bold;
    white-space: normal;
    font-size: 11px;
}
.conversations_time {
    color: #9D9D9D;
    font-size: 9px;
}
/** */
.inboxs_item {
    clear: both;
    overflow: hidden;
    border-top: 1px solid #E6E6E6;
    padding: 5px;
}
.bg_unread {
    background: #EFF1F7;
}
.inboxs_item:hover {
    background: #F4F6F9;
}
.inboxs_msg {
    color: #5E5B5B;
    font-size: 11px;
    padding-left: 20px;
}
.inboxs_author {
    color: #3B5998;
    font-weight: bold;
    white-space: normal;
    font-size: 11px;
}
.inboxs_time {
    color: #9D9D9D;
    font-size: 9px;
}


.float_left {
    float: left;
}

.gray {
    color: #586776 !important;
}

.text_smaller {
    font-size: smaller;
}
.text_smaller a {
    color: #3B5998;
}

.text_gray {
    color: gray;
}

.more_info {
    border-bottom: 1px #DDD dashed;
    padding: 10px;
}

/** pagination css **/
.list_page {
    padding-left: 5px;
    margin: 5px;
    text-align: center;
}

.list_page .page {
    color: #fff;
    background: #7B7B7C;
    padding: 3px 10px;
    border-radius: 3px;
    margin-right: 3px;
}

.list_page .page a {
    color: #fff;
}

.list_page .page:hover {
    background: #58595b;
}

.list_page .currentPage {
    background: #0f8568;
}

.list_page .currentPage:hover {
    background: #0f8568;
}

/** end pagination css **/

.list_comment {
    border-bottom: 1px solid #E2E2E2;
    padding: 5px 5px 5px 10px;
}


.border_orange {
    border-left: 4px solid #F39C11;
}

.border_blue {
    border-left: 4px solid #3598DC;
}

.border_red {
    border-left: 4px solid #FF0000;
}

.manager_navi {
    padding: 5px;
    margin: 0px;
}

.notice {
    background-color: #FF9A03;
    border-color: #F18006;
    border-radius: 3px;
    margin: 4px;
    font-size: 11px;
    color: #FFF;
    padding: 4px;
}

.error {
    background-color: #F00;
    border-color: #F32003;
    border-radius: 3px;
    margin: 4px;
    font-size: 11px;
    color: #FFF;
    padding: 4px;
}

.success {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    border-radius: 3px;
    margin: 4px;
    font-size: 11px;
    color: #222;
    padding: 4px;
}

/** ---breadcrumb--  **/
.breadcrumb {
    background: #FAFAFA;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #D6D6D6;
    box-shadow: -2px 2px 1px #E4E4E4;
    padding-left: 5px;
}

.breadcrumb span span, .breadcrumb span.tree {
    color: #777;
    display: inline-block;
    background: url('images/breadcrumb_sp.png') no-repeat center right;
    padding: 6px 16px 6px 3px;
}

/** --------------------- **/

.tip {
    border: 1px solid #FFDBA8;
    background-color: #fff7c9;
    font-size: 11px;
    padding: 4px 4px 2px 25px;
    color: #333;
    background-image: url(images/tip.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.welcome {
    background: #FAFAFA;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #D6D6D6;
    box-shadow: -2px 2px 1px #E4E4E4;
    padding: 6px 16px 6px 10px;
}

.wellcome a {
    color: #000 !important;
}

.topmenu {
    color: white;

}

.content {
    padding: 6px;
    line-height: 20px;
}

.license {

    padding: 6px;
    line-height: 20px;
    height: 300px;
    overflow: auto;
    border: 1px solid #DDD;
}
.div_manager {
    border-top: 4px solid #FFDBA8;
    background-color: #fff7c9;
    font-size: 11px;
    padding: 5px;
    color: #333;
}

.manager_bar {
    font-size: smaller;
    padding: 3px 5px;
    margin-bottom: 10px;
}

.manager_bar a.link_manager {
    background: #E7E7E7 url('images/btnbg.png') repeat-x top;
    font-size: 11px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    padding: 2px 5px;
    margin-right: 4px;
}

.manager_bar a.link_manager:hover {
    background: #fff;
}


.clean_both {
    clear: both;
}

ul {
    list-style-type: square;
    padding-left: 15px;
    padding-top: 0px;
    margin: 1px;
}

input[type="text"], input[type="password"], input.text, input.title {
    border: 1px solid #ACCCDE;
    font-size: 13px;
    padding: 2px 5px;
    vertical-align: middle;
    max-width: 80%;
}


.button {
    font-size: 13px;
    border: 0;
    padding: 5px 10px;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
}

.button_image {
    border: 1px #fff solid;
    border-radius: 5px;
    padding:5px;
}

.button_image:hover {
    border-radius: 50%;
    border: 1px #dd8e0e solid;
}

.BgBlue {
    background: #428BD7;
}

.BgBlue:hover {
    background: #2A78C9;
}

a.BgBlue {
    color: #fff;
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.BgGreen {
    background: #1aa557;
}

.BgGreen:hover {
    background: #168F4B;
}

a.BgGreen {
    color: #fff;
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.BgRed {
    background: #E74946;
}

.BgRed:hover {
    background: #C83C39;
}

a.BgRed {
    color: #fff;
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.BgBlack {
    background: #555;
}

.BgBlack:hover {
    background: #3f3f3f;
}

a.BgBlack {
    color: #fff;
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

textarea {
    max-width: 98%;
    color: #777;
    border: 1px solid #CCC;
    margin: 0px;
    padding: 3px;
    min-width: 90%;
    min-height: 30px;
    margin: 3px;
}

.post_info {
    border-bottom: 1px dashed #DDD;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.post_icon_s {
    border-radius: 5px;
    border: 1px solid #ddd;
    vertical-align: top;
    margin: auto 2px;
    padding: 1px;
    width: 30px;
}

.post_icon {
    border-radius: 5px;
    border: 1px solid #DDD;
    vertical-align: top;
    margin: auto 5px;
    padding: 1px;
    width: 50px;
}

.post_name {
    font-weight: bold;
}

h2, h3.post_name {
    font-weight: normal;
    margin: 0px;
    font-style: normal;
    font-size: 13px;
}

.post_info .post_name {
    font-size: 14px;
}

.post_content {
    padding: 5px;
}

.post_info .post_detail {
    line-height: 20px;
}

.post_info .post_detail small {
    color: #EC711F;
}

.post_sub_content {
    font-size: 12px;
}

.post_img {
    width: 40px;
    height: 40px;
    margin: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.post_slide_img {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.share {
    padding: 5px;
    vertical-align: top;
    font-size: 13px;
    font-weight: bold;
}

.link_down .item small {
    color: #EC711F;
    font-size: 10px;
    font-weight: bold;
}

.tags {
    padding: 5px;
    font-weight: bold;
}

.tags a {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
    border-radius: 4px;
}

.tags a:hover {
    background-color: #C4DAE9;
    border-bottom: 1px solid #C4DAE9;
    border-right: 1px solid #C4DAE9;
    text-decoration: none;
    border-radius: 4px;
}

.nav {
    padding: 5px;
}

.nav_manager {
    background-color: #F7F7F8;
    border-color: #BCE8F1;
    color: #3A87AD;
    border-radius: 3px;
    margin: 4px;
    font-size: 10px;
    color: #222;
    padding: 4px;
}

.navi_page {
    background-color: #F1F1F1;
    border: 1px solid #DDD;
    padding: 4px;
}